<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.list_csr') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t "views.label.certificate_request.uuid"%></th>
      <th><%= I18n.t "views.label.certificate_request.status"%></th>
      <th><%= I18n.t "views.label.certificate_request.owner"%></th>
      <th><%= I18n.t "views.label.certificate_request.organization"%></th>
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificate_requests.each do |certificate_request| %>
      <tr>
        <td><%= certificate_request.uuid %>></td>
        <td><%= certificate_request.status %>></td>
        <td><%= certificate_request.owner_dn.subject_dn %>></td>
        <td><%= certificate_request.organization.name %>></td>
        <td><%= link_to I18n.t("views.show"), certificate_request %></td>
        <td><%= link_to I18n.t("views.destroy"), certificate_request, method: :delete, data: { confirm: I18n.t("views.delete_confirmation") } %></td>
        <td><%= link_to I18n.t("views.accept"), certificate_request_approve_url(certificate_request), method: :post, data: {confirm: I18n.t("views.delete_confirmation") }%></td>
        <td><%= link_to I18n.t("views.reject"), certificate_request_reject_url(certificate_request), method: :post, data: { confirm: I18n.t("views.delete_confirmation") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.new_csr'), new_certificate_request_path %>
