<h1><%= I18n.t "views.error.csr_gen" %></h1>
<p><%= I18n.t "views.error.already_csr" %>: <%= link_to "find your csr status", { controller: "csr_gen" , action: "find_csr"} %></p>
<p><%= I18n.t "views.error.no_reg" %>: <%= link_to "register here", new_person_path %> </p>