<!DOCTYPE html>
<html>
<head>
  <title>Access</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_header">
  <% if current_user %>
      <%= "#{I18n.t "views.logged_in_as"}: #{current_user.email}" %>.
      <%= link_to "#{I18n.t "views.log_out"}", logout_path %>
  <% else %>
      <%= link_to "#{I18n.t "views.sign_up"}", signup_path %> <%= "#{I18n.t "views.or"}"%>
      <%= link_to "#{I18n.t "views.log_in"}", login_path %>
  <% end %>
</div>

<p id="notice"><%= notice %></p>
<p id="alert"><%= flash[:alert] %></p>
<p id="error"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
