<p id="notice"><%= notice %></p>

<h1><%= I18n.t('views.list_organizations') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t "views.label.organization.name" %></th>
      <th><%= I18n.t "views.label.organization.domain" %></th>
      <th><%= I18n.t "views.label.organization.description" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.domain %></td>
        <td><%= organization.description %></td>
        <td><%= link_to I18n.t("views.show"), organization %></td>
        <td><%= link_to I18n.t("views.edit"), edit_organization_path(organization) %></td>
        <td><%= link_to I18n.t("views.destroy"), organization, method: :delete, data: { confirm: I18n.t("views.delete_confirmation") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('views.new_organization'), new_organization_path %>
