<p>
  <strong><%= I18n.t "views.label.organization.name" %>:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong><%= I18n.t "views.label.organization.domain" %>:</strong>
  <%= @organization.domain %>
</p>

<p>
  <strong><%= I18n.t "views.label.organization.description" %>:</strong>
  <%= @organization.description %>
</p>

<%= link_to I18n.t('views.edit'), edit_organization_path(@organization) %> |
<%= link_to I18n.t('views.back'), organizations_path %>
