<h1>Access CA Portal</h1>

<hr />

<h3>Account related</h3>
<ul>
  <li><%= link_to 'Create new account', signup_url %></li>
  <% if current_user %>
      <li><%= link_to 'View account details', current_user %></li>
      <li><%= link_to 'Delete account', current_user, method: :delete, data: {confirm: I18n.t("views.delete_confirmation")} %></li>
      <li><%= link_to 'View account changes', "/people/#{current_user.id}/versions" %></li>
  <% end %>

</ul>

<h3>Host related</h3>
<ul>
  <% if current_user %>
      <li><%= link_to 'Create new host', 'hosts/new' %></li>
      <li><%= link_to 'View hosts', hosts_url%> </li>
  <% else %>
      <p>Please log in or create an account.</p>
  <% end %>
</ul>

<h3>Certificate related</h3>
<ul>
  <% if current_user %>
      <li><%= link_to 'Create new certificate request (terminal)', 'certificate_requests/new' %></li>
      <li><%= link_to 'Create new certificate request (browser)', "#{params[:locale]}/#{current_user.id}/csr" %></li>
      <li><%= link_to 'Find CSR', "#{params[:locale]}/find_csr"%></li>
      <% if @admin %>
          <li><%= link_to 'List CSRs', "#{params[:locale]}/ra/csr_list"%></li>
      <% end %>
  <% else %>
      <p>Please log in or create an account.</p>
  <% end %>
</ul>

<h3>Organization related</h3>
<ul>
  <% if @admin %>
      <li><%= link_to 'Create organization', 'organizations/new' %></li>
      <li><%= link_to 'List organizations', organizations_url %></li>
  <% else %>
    <p>You must be logged in as admin to administer organizations.</p>
  <% end %>
</ul>